<html ng-app="firebaseApp">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="./crypto-js.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="./firebase_json_browser.js"></script>
    <script type="text/ng-template" id="categoryTree">
      <span ng-show="false">hi{{node.isTerminal}}</span>
      <span ng-if="!node.isTerminal && node.show" ng-click="expand(false, node, $event.shiftKey)"  style="cursor:pointer">-&nbsp;</span>
      <span ng-if="!node.isTerminal && !node.show" ng-click="expand(true, node, $event.shiftKey)"  style="cursor:pointer">+&nbsp;</span>
      <span ng-if="node.isTerminal">.&nbsp;</span>
      <b>{{node.key}}:</b>
      <span ng-if="node.isTerminal && !node.isLoading" 
            ng-click="!node.isLeaf && loadData(node, $event.shiftKey)" 
            ng-style="node.isLeaf && {color : 'green'} || {color : 'blue', cursor:'pointer'}"> {{node.val}}</span>
      <span ng-if="!node.isTerminal && !node.show && !node.isLoading" 
            ng-style="{color : 'black'}"> {...}</span>
      
      <i class="fa fa-spinner fa-spin" ng-show="node.isLoading"></i>
      
      <span ng-show="hasClass(id, 'border', node)">
        <a 
           style="cursor:pointer; text-decoration:none"
           href="{{BASE_URL}}{{node.url}}"
           target="_blank">
          <i class="fa fa-database" style="color:orange"></i>
        </a>
        <i
           class="fa fa-refresh"
           ng-click="loadData(node, $event.shiftKey)"
           style="cursor:pointer; color:black"></i>
        &nbsp;&nbsp;&nbsp;
        <i
           ng-show="!node.wasDeleted"
           class="fa fa-times"
           ng-click="deleteData(node)"
           style="cursor:pointer; color:red"></i>
        <input ng-show="!node.wasDeleted" 
               type='password' 
               size="3" 
               maxlength="3" 
               ng-model=node.delete>
      </span>
      <ul 
          ng-if="!node.isTerminal && node.show && !node.isLoading">
          <li ng-repeat="node in node.val" 
              ng-include="'categoryTree'"
              onload="id=genId(node)"
              ng-mouseover="myMouseEnter($event); $event.stopPropagation()" 
              ng-mouseleave="myMouseOut($event); $event.stopPropagation()"
              ng-attr-id="{{genId(node)}}"> 
          </li>
      </ul>
    </script>
    <style>
      ul {
        list-style-type:none;
        padding-left : 10px;
        margin-left: 5px;
      }
      
      li.border {
        border : solid 1px brown;
        background-color: lightgoldenrodyellow;
      }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    
    <title>Firebase Lazy JSON Browser</title>
    
  </head>
  <body ng-controller="ctrl"
        style="font-family:'Inconsolata'">
    <h3>Firebase Lazy JSON Browser for {{BASE_URL}}</h3>
    <h5 style="color:green">(Saves data &amp; time by loading only keys of location at a time)</h5>

    <span ng-show="errorMessage.length>0" style="background:red; font-size:small">{{errorMessage}}</span>
    <button style="font-size:small" ng-click="showInstructions=!showInstructions">{{showInstructions ? "hide instructions" : "show instructions"}}</button>
    <div ng-show=showInstructions>
      <h5 style="color:violet">- To change the firebase database, just append 'target' query parameter at the end of page url <span style="color:brown">'#?target=shining-inferno-4918'</span>. Don't forget the '#'. Change target value to your firebase database name</h5>
      <h5 style="color:violet">- Auth enabled Firebase DBs : [<ul style="display:inline-block; margin:0; padding:0; color:brown">
        <li style="" ng-repeat="db in authEnabledDatabaseList">{{db}},</li>
        </ul>]
      </h5>
      <h5 style="color:violet">- To use firebase with auth, provide the 'key' query parameter as
        <span style="color:brown">key=gabru</span>
      </h5>
      <h5 style="color:violet">- Example full url with database name as well as auth key : <span style="color:brown">http://localhost:8001/firebase_json_browser.html#?target=shining-inferno-4918&amp;key=gabru</span></h5>
      <h5 style="color:blue">- To load next level of data at firebase node, [click] on &lt;more&gt; button or on <i class="fa fa-refresh" style="color:black"></i> icon</h5>
      <h5 style="color:blue">- To load all of data (deep) at firebase node, [SHIFT + click] on &lt;more&gt; button or <i class="fa fa-refresh" style="color:black"></i> icon</h5>
      <h5 style="color:navy">- To fold/unfold next level of a node's children (with data already loaded), [click] on the <span style="color:black">(-)/(+)</span> respectively. Use [SHIFT + click] to fold/unfold the whole tree iteratively at the node</h5>
      <h5 style="color:orange">- To open a node location in Firebase, hover over it, click on orange <i class="fa fa-database" style="color:orange"></i> icon</h5>
      <h5 style="color:red">- To delete a node location, hover over it, type 'yes' in text box, click on <i class="fa fa-times" style="color:red"></i> icon</h5>
    </div>
    <ul>
      <li ng-repeat="node in rootData" 
          ng-include="'categoryTree'" 
          onload="id=genId(node)"
          ng-mouseover="myMouseEnter($event); $event.stopPropagation()" 
          ng-mouseleave="myMouseOut($event); $event.stopPropagation()"
          ng-attr-id="{{genId(node)}}">
      </li>
    </ul>
    
  </body>
</html>