<html ng-app="firebaseApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/ng-template" id="categoryTree">
        <span ng-if="!isTerminal && data.show" ng-click="data.show=false"  style="cursor:pointer"> (-) </span>
        <span ng-if="!isTerminal && !data.show" ng-click="data.show=true"  style="cursor:pointer"> (+) </span>
        {{ data.key }} <span ng-if="isTerminal"> : {{ data.val}}</span> 
        <ul ng-if="!isTerminal && data.show">
            <li ng-repeat="data in data.val" ng-include="'categoryTree'" onload="isTerminal=checkTerminal(data.val)">           
            </li>
        </ul>
    </script>
    <script>
      sample = null;
      var app = angular.module('firebaseApp', []);
      app.controller('ctrl', ['$scope', function($scope){
        
        $scope.checkTerminal = function(data){
          return (typeof(data) === 'string' || typeof(data) === 'number');
        }
        
        $scope.convert = function(data){
          var isTerminal= $scope.checkTerminal(data);
          if(isTerminal) return data;
          
          var arr = [];
          var key;
          var val;
          for(k in data){
            arr.push({key : k, val : $scope.convert(data[k])});
          }
          return arr;
        }
 
        $scope.catalog = [
          { 
            title: 'Computers',
            categories: [
              {
                title: 'Laptops',
                categories: [
                  {
                    title: 'Ultrabooks',
                    products: [
                      {
                        name : 'HP Envy',
                        price : '76,000'
                      },
                      {
                        name : 'Dell XPS',
                        price : '81,000'
                      }
                    ]
                  },
                  {
                    title: 'Macbooks',
                    products: [
                      {
                        name : 'Macbook Air',
                        price : '69,000'
                      },
                      {
                        name : 'Macbook Pro',
                        price : '1,13,000'
                      }
                    ]
                  }
                ]
              },
              {
                title: 'Desktops',
                products: [
                  {
                    name : 'I Mac',
                    price : '1,98,000'
                  },
                  {
                    name : 'Alien Ware',
                    price : '92,000'
                  }
                ]
              },
              {
                title: 'Tablets',
                categories: [
                  { 
                    title: 'Apple',
                    products: [
                      {
                        name : 'I Pad Mini',
                        price : '24,000'
                      },
                      {
                        name : 'I Pad 4',
                        price : '46,000'
                      }
                    ]
                  },
                  {
                    title: 'Android',
                    products: [
                      {
                        name : 'Samsung Galaxy Tab',
                        price : '34,000'
                      },
                      {
                        name : 'HTC Live Tab',
                        price : '29,000'
                      }
                    ]
                  }
                ]        
              }
            ]
          },
          {
            title: 'Printers',
            products: [
              {
                name : 'HP InkJet',
                price : '14,000'
              },
              {
                name : 'HP All In One',
                price : '22,000'
              }
            ]
          }
        ];
        
        $scope.convertedCatalog = $scope.convert($scope.catalog);
        sample = $scope.convertedCatalog;
      }]);
    </script>
  </head>
  <body ng-controller="ctrl">
    <ul>
      <li ng-repeat="data in convertedCatalog" ng-include="'categoryTree'" onload="isTerminal=checkTerminal(data.val)"></li>
    </ul>
  </body>
</html>